<h1 mat-dialog-title>{{ data.isEdit ? 'Edit Person' : 'Add Person' }}</h1>

<div mat-dialog-content [formGroup]="form">
  <mat-form-field class="w-full">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-checkbox formControlName="isAstronaut">Is Astronaut</mat-checkbox>

  <div *ngIf="form.get('isAstronaut')?.value" class="grid gap-4 mt-4">
    <mat-form-field class="w-full">
      <mat-label>Rank</mat-label>
      <input matInput formControlName="rank" />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Start Date</mat-label>
      <input matInput type="date" formControlName="startDate" />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>End Date</mat-label>
      <input matInput type="date" formControlName="endDate" />
    </mat-form-field>
  </div>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-flat-button color="primary" (click)="save()">Save</button>
</div>
